<!DOCTYPE html>
<html lang="zh-cn">
    <%- include("./public/head.ejs")%>
    <body>
        <%- include("./public/header.ejs")%>
        <section class="main floatfix">
            <%- include("./public/aside.ejs")%>
            <section class="main-articles friends">
                <h2>Wayne博客的友情链接网址</h2>
                <ul class="floatfix">
                    <li><a href="https://github.com">Github</a></li>
                    <li><a href="https://cnnodejs.org">CNode</a></li>
                    <li><a href="https://segmentfault.com">SegmentFault</a></li>
                    <li><a href="https://google.com">Google</a></li>
                    <li><a href="https://www.npmjs.com">NPM</a></li>
                    <li><a href="https://www.w3school.com">W3CSchool</a></li>
                </ul>
            </section>
        </section>
        <%- include("./public/footer.ejs")%>
    </body>
</html>